.Recipe_Container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.Recipe_Inner_Container{
    display: flex;
    align-items: center;
    justify-content:center;
    width:80%;
    height: 90vh;
    flex-direction: row;
    margin-left:200px;



}
.Recipe_ImageContainer{
    display: inline-block;
    height: 350px;
    width: 250px;
    flex-flow: column;
    
    border-radius:10px;
    justify-content: center;
    align-items: center;

}
.Recipe_Image{
    display: flex;
    height:400px;
    width: 290px;
    
    transition:0.5s all ease-in-out;
    overflow: hidden;

}
.Recipe_Wrrapper{
    overflow: hidden;
    height:345px;
    width: 250px;
    border-radius:10px;
    
    
    
}
 .Recipe_Wrrapper:hover  img{
    transform:scale(1.08);
    
}
.Recipe_Title_Container{
    display: flex;
    height: 50px;
    text-align:left;
    width: 250px;
    

}
.Recipe_Title{
    font-family: helvetica, arial, sans-serif;
    font-size: 30px;

}
.Recipe_Title:hover{
    color: rgb(61, 73, 5);

}
.Recip_Wrraper_Container{
    display: inline-flex;
    
    height: 450px;
    width: 350px;
    flex-flow: column;
}