<div class="Recipe_Container">
  <div class="Recipe_Image_Container">
    <img [src]="recipe.image_url" alt="" class="Recipe_Image">
  </div>

  <div class="Recipe_Title_Catagory_Container">
    <div class="Recipe_catagory_Container" id="abc">
        <p class="Recipe_Catagory" *ngFor="let catagory of recipe.category">&nbsp;&nbsp;{{catagory}}&nbsp;&nbsp;|</p>
    </div>
        <p class="Recipe_Title">{{recipe.name}}</p>
  
  </div>


  <div class="Recipe_Ingredients_Container">
    <ul class="Recipe_Ingredients_List_Container">
      <li class="Recipe_Ingredient_List" *ngFor="let item of recipe.items">
        <div class="Ingredient_Amount">{{item.amount}}</div>
        <div class="Ingredient_Name">{{item.ingredients}}</div>

      </li>
    </ul>
  

</div>

</div>







































































<!-- <div class=title>

    <h1> HONEY CAKE </h1>
    <hr />
    <p> A classic recipe from <i>The Ideal Cookery Book.</i></p>
  </div>
  <div class=ingredients>
  
    <h2> INGREDIENTS </h2>
    <ul>
      <li><sup>1</sup>/<sub>2</sub> lb. flour</li>
      <li>2 eggs</li>
      <li>3 ozs. butter</li>
      <li>3 ozs. sugar</li>
      <li><sup>1</sup>/<sub>2</sub> lb. honey</li>
      <li>1 teaspooonful baking powder</li>
    </ul>
  </div>
  <div class=instructions>
  
    <h2> INSTRUCTIONS </h2>
    <ol>
      <li>Cream the butter and sugar together; beat in the eggs, <i>one at a time.</i> </li>
      <li> Add the honey, and mix thoroughly. </li>
      <li>Sieve the flour and baking-powder together, stir them into the cake mixture. </li>
      <li> When well mixed, turn into a cake-tin that has been lined with paper. </li>
      <li> Press it down well, make the top level, and put into a moderate oven; bake for about <strong>one hour.</strong>
      <li> When done turn out of the tin, remove the paper, and then place on a sieve to cool. </li>
    </ol>
  </div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <hr /> -->